<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="icon" href="/stylesheet/img/Weather.png" type="image/png" sizes="16x16">
        <link rel="stylesheet" href="../stylesheet/lib/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Lobster" rel="stylesheet">
         <link rel="stylesheet" type="text/css" href="/stylesheet/productionstyle.min.css">
</head>
<body>
    