body{
    height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url('background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
        }
   .navbar{
        background-color: #0A0D12;
      background: -webkit-linear-gradient(left, #0A0D12, #595451, #0A0D12); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #0A0D12, #595451, #0A0D12); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #0A0D12, #595451, #0A0D12); /* For Fx 3.6 to 15 */
    background: linear-gradient(to right, #0A0D12, #595451, #0A0D12); /* Standard syntax (must be last) */
    opacity: 0.7;
}
input{
  text-align: center;
  font-weight: 700;
}
h2{
color:white;
font-weight: bold;
line-height: 1.5;
letter-spacing: 1px;
opacity: 1.0;
text-align: center;
}
   
#form-container{
    position: absolute;
    top:30%;
    left:10%;
    z-index: 1000;
    width:80%;
}
#address{ 
border-radius: 50px 50px 50px 50px;
height:70px;
width:50%;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
  font-family: Roboto;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
    text-align: center;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
   text-align: center; 
}

.close-btn{
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  color: white;
  border: 0px;
  width: 120px;
  height: 40px;
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
  z-index: 1500;
  transition: opacity 0.5s ease;
  opacity: 0;
}
.close-btn.active{
  opacity: 1;
}
.footer{

        position: absolute;
        bottom:0;
        width:100%;
        background-color: #0A0D12;
      background: -webkit-linear-gradient(left, #0A0D12, #595451, #0A0D12); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #0A0D12, #595451, #0A0D12); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #0A0D12, #595451, #0A0D12); /* For Fx 3.6 to 15 */
    background: linear-gradient(to right, #0A0D12, #595451, #0A0D12); /* Standard syntax (must be last) */
    opacity:0.8
}
p{
    text-align: center;
    padding:0.5em;
}
.btnx {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  top:3%;
  left:35%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btnx:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-1 {
  border: 3px solid #fff;
  color: #fff;
}
.btn-1e {
  overflow: hidden;
}

.btn-1e:after {
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: #fff;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.btn-1e:hover,
.btn-1e:active {
  color: #0e83cd;
}

.btn-1e:hover:after {
  height: 260%;
  opacity: 1;
}

.btn-1e:active:after {
  height: 400%;
  opacity: 1;
}

#map{
  height:400px;
  width:100%;
  border:5px solid grey;
}
.list-group-item{
  font-weight: bold;
}
.list-group-item span{
 color:grey; 
}