<!DOCTYPE html>
	<html>
	<head>
		<title>Weather App</title>
		<meta charset="utf-8">
	</head>
	<body>
		<form action="/result" method="get">
			<input type="text" name="address" placeholder="Enter location" >
			<input type="submit" value="Submit">
		</form>
	
	</body>
	</html>
