<% include ./partials/header %>   
    <div id="overlay"></div>
        <div id="mainContent">
      <nav class="navbar">
    <h1 class="mx-auto">WEATHER APP</h1>    
    </nav>
     <div class="container">
     <form action="/result" method="post" id="form-container">
     <div class="input-group">
  <input type="text" class="form-control" name="location" id="address"  placeholder="Enter Your Location" required>
      <span class="input-group-btn">
       <button  class="btn btn-info close-btn" type="submit" onclick="showLoader()"><i class="fa fa-search fa-fw"></i> Search</button>
        </span>
      
    </div>
    <div class="mt-4 wrapper" >
    <button class="btnx btn-1 btn-1e" type="submit" onclick="showLoader()">Weather Forecast</button>
    </div>
    </form>
    </div>
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

</div>

<footer class="footer">
      
        <p class="text-muted ">Weather App 2017 | Created by:<a href="https://github.com/Asim1996/weatherapp">Asim</a></p>
          
        </footer>
        
<% include ./partials/footer %>