<% include ./partials/header %>   
    <div id="overlay"></div>
    <div id="mainContent">
    <nav class="navbar">
    <h2  class="mx-auto">WEATHER APP</h2>    
    </nav>
      
    <div class="container">
     <form action="/result" method="post" id="form-container">
     <div class="input-group">
  <input type="text" class="form-control" name="location" id="address"  placeholder="Enter Your Location" required>
      <span class="input-group-btn">
       <button  class="btn btn-info close-btn" type="submit"><i class="fa fa-search fa-fw"></i> Search</button>
        </span>
    </div>
    <button class="btnx btn-1 btn-1e" type="submit" onclick="showLoader()">Weather Forecast</button>
    </form>
    </div>
</div>
<% include ./partials/footer %>